---
import iconDownload from '@components/icons/IconDownload.vue';
import iconContact from '@components/icons/IconContact.vue';
import resume from "@assets/Mariana_Reis_-_Frontend_Dev_CV.pdf";

const footerItems = [
    {
        text: 'my resume',
        icon: iconDownload,
        link: resume,
        showOnMobile: true
    },
    {
        text: 'let’s talk',
        icon: iconContact,
        link: 'mailto:marianareis.dev@gmail.com',
        showOnMobile: true
    },
]
---

<footer class="border-t-[3px] border-green">
    <div class="px-10 py-8 flex justify-between items-center gap-10 max-w-[1067px] mx-auto md:flex-col-reverse md:gap-5">
        <p>All rights reserved, 2023.</p>
        <ul class="flex gap-8">
            {footerItems.map((item) => (
                <>

                    <li>
                        <a href={item.link} class="group flex items-center gap-2">
                            <item.icon class="group-hover:fill-purple"></item.icon>
                            <p class="group-hover:text-purple transition-colors duration-300">{item.text}</p>
                        </a>
                    </li>

                </>
            ))}
        </ul>
    </div>
</footer>